body{
    color: #3e3e3e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;

}


h1{
    background-image: url(img\body-background.png);
    padding: 10px;
    border-style: outset;
    border-radius: 40px;
    border-width: 8px;
    margin-bottom: 8px;
    margin-top: 10px;

}

h2{
    border-bottom: 2px groove #3e3e3e;
    border-style: outset;
    margin-top: 30px;
    text-align: center;
     border-style: outset;
    border-radius: 40px;
    border-width: 6px;
    border-width: 1.2vh;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;


}

p{
    padding:  0 45px;
    text-indent:  15px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550p;
    border-radius: 400px;
    text-align: center;

}

#familia-pelho{
float: right;
margin: 0 0  10px 10px;


}

#Logo{
    border-radius:40px;
    text-align: center;
    border-width: 1.2vh;
    border-style: outset;
    width: 500px;
    height:auto;
    margin: auto;
    margin-bottom: 30px;
    border-bottom:groove black 7px;;
}

#centrodist{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho-image{
    border-radius: 10px;


}

#centro-distribuicao-image{

    border-radius: 10px;
}