body{
    color: #3e3e3e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;

}


h1{
    background-image: url(img\body-background.png);
    padding: 10px;
    border-style: outset;
    border-radius: 40px;
    border-width: 12px;

}

h2{
    border-bottom: 2px groove #3e3e3e;
    border-style: outset;
    margin-top: 30px;
    text-align: center;
     border-style: outset;
    border-radius: 40px;
    border-width: 6px;
    border-width: 1.2vh;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;


}

p{
    padding:  0 45px;
    text-indent:  15px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550p;
    border-radius: 400px;
    text-align: center;

}

#familia-pelho{
float: right;
margin: 0 0  10px 10px;


}

#rodape{
    color: rgb(158, 25, 25);
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img{
float: left;
margin: 0 0 10px 10px;
}